.navbar-container {
    background: rgb(41, 45, 46);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3em;

    box-sizing: border-box;
    padding: 10px;

    max-width: 1400px;
    margin-inline: auto;
}

.navbar a {
    text-decoration: none;
    color: aliceblue;
}

.navbar__left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar__logo {
    font-size: 1.5rem;
    color: white;
}

.navbar__links {
    display: flex;
    gap: 10px;

    list-style: none;
}

.active {
    color: gray;
}
