.navbar-outer {
    background: rgb(41, 45, 46);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3em;

    color: white;

    box-sizing: border-box;
    padding: 10px;

    max-width: 1400px;
    margin-inline: auto;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar__left {
    display: flex;
    align-items: center;
}

.navbar__logo {
}

.navbar__links {
    display: flex;
    gap: 10px;

    list-style: none;
}

.navbar_login {
}

.active {
    color: gray;
}
