body {
    margin: 0;
}

ul {
    padding: 0;
}

h1 {
    margin: 0;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.root main {
    padding: min(20%, 2rem);
}

.auth {
    padding: min(10%, 100px);
}

.search {
    width: 100%;
    text-align: center;
}

.searchbar {
    display: flex;
    gap: 15px;
    
}

.searchbar input {
    height: 30px;
    width: 200px;
}

#search-spinner {
    height: 100%;
}

/* animations */

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

.fadeIn-left {
    animation: fadeInLeft 0.5s ease-in-out;
}

.rotate {
    animation: rotate 1s linear infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
